# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
public/images/logos/kenken.svg
public/images/logos/snake_two.svg
public/images/logos/theogony.svg
public/images/logos/theogony_api.svg
public/images/test-10.png
public/images/test-11.png
public/images/test-2.png
public/images/test-3.png
public/images/test-4.png
public/images/test-5.png
public/images/test-6.5.png
public/images/test-6.png
public/images/test-7-min.png
public/images/test-7-min.webp
public/images/test-7.jpg
public/images/test-7.png
public/images/test-8.0.png
public/images/test-8.1.png
public/images/test-8.png
public/images/test-9.1.png
public/images/test-9.5.png
public/images/test-9.png
public/images/test-fav-2.png
public/images/test-fav.png
public/images/test-pic-2.jpg
public/images/test-pic-2.png
public/images/test-pic-3.jpg
public/images/test-pic-4.jpg
public/images/test-pic-5.jpg
public/images/test-pic-6.jpg
public/images/test-pic.jpg
public/images/test.png
public/images/logos/Vector.svg
public/images/logos/Vector-1.svg
public/images/logos/es_recader.svg
public/images/logos/cards.svg
public/images/front-img-4.png
public/images/front-img-3.png
public/images/front-img-2.png
public/videos/test-video-1.mp4
public/videos/test-video-2.mp4
public/videos/test-video-3.mp4
public/videos/test-video-4.mp4
public/videos/test-video-5.mp4
public/videos/test-video-6.mp4
public/videos/video-test-1.webp
