@font-face {
  font-family: ITCAvantGardeStd;
  src: url(../public/fonts/ITCAvantGardeStd-Md.ttf);
}

@font-face {
  font-family: ESBuildTRIAL-Regular;
  src: url(../public/fonts/ESBuildTRIAL-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: url(../public/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url(../public/fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url(../public/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(../public/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url(../public/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(../public/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(../public/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url(../public/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url(../public/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url(../public/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url(../public/fonts/Poppins/Poppins-BoldItalic.ttf);
}

html,
body {
  padding: 0;
  /* overflow: hidden; */
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: default;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.stickyContainer {
  display: grid;
  justify-content: end;
}

.top {
  z-index: 3;
}
.bottom {
  z-index: 1;
}

.gradientText {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #0086d1, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.workContainer {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;

  /* height: 99vh; */
  height: 100vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  /* background-color: #0084d12a; */
}

.smallTitle {
  font-size: calc(0.55rem + 0.25vw);
  font-weight: 400;
  text-transform: uppercase;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
