@font-face {
  font-family: ITCAvantGardeStd;
  src: url(../public/fonts/ITCAvantGardeStd-Md.ttf);
}

@font-face {
  font-family: ESBuildTRIAL-Regular;
  src: url(../public/fonts/ESBuildTRIAL-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  /* max-width: 100%; */
  /* height: auto; */
}

.stickyContainer {
  display: grid;
  justify-content: end;
}

.top {
  z-index: 3;
}
.bottom {
  z-index: 1;
}

.gradientText {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #0086d1, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.workContainer {
  width: 100%;
  height: 99vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
