.main {
  // height: 200vh;
  position: relative;
}
.introSection {
  top: 0;
  // position: sticky;
  position: relative;
  height: 115vh;
  background-color: #9eaebb;
}

.intro {
  height: 100%;
  position: relative;

  h2,
  p {
    font-family: ITCAvantGardeStd;
    font-size: 13vmin;
    font-weight: 100;
    color: #fafafa;
    letter-spacing: -0.7vmin;
    line-height: 85%;
    white-space: nowrap;
  }

  @media screen and (min-aspect-ratio: 1.5/1) {
    .indented {
      margin-left: 26vmin;
    }
  }
  @media screen and (max-aspect-ratio: 1.25/1) {
    padding-inline: 10vmin;
    h2,
    p {
      font-size: 13vmin;
    }
  }
}

.imA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introText {
  min-width: 0;
  // grid-row-start: 3;
  // grid-column-start: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 3;
  // padding-top: 20%;
  top: 42%;
  @media screen and (min-aspect-ratio: 1.25/1) {
    width: 100%;
  }
  // margin-left: 20%;
}

.introHello {
  grid-row-start: 1;
  grid-column-start: 4;
  overflow: hidden;
  // height: 10rem;
  div {
    position: relative;
    animation: hello-animation 6s infinite
      cubic-bezier(0.175, 0.885, 0.32, 1.275);

    h2 {
      // line-height: 10rem;
    }
  }
}

////////////
// TEXTS //
//////////

.backText {
  position: relative;
  z-index: 2;
}

.frontText {
  position: relative;
  z-index: 3;
}

.gradientText {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #0086d1, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

//////////////
// PICTURE //
////////////

.introPic {
  min-width: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  // grid-row-start: 4;
  // grid-column-start: 3;
  // margin-top: 15vh;
  z-index: 2;
  .heroImg {
    margin-top: 5vh;
    // transform: scale(1.25);
    height: 110vh;
    width: auto;
    transform-origin: bottom center;
    z-index: 2;
  }
}

@keyframes hello-animation {
  0% {
    top: 0%;
  }
  28% {
    top: 0%;
  }
  34% {
    top: -100%;
  }
  62% {
    top: -100%;
  }
  68% {
    top: -200%;
  }
  95% {
    top: -200%;
  }
  100% {
    top: -300%;
  }
}

.header {
  height: 10vh;
  width: 100%;
  // background-color: #af4261;
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 4vw;
  top: 0;

  a {
    color: white;
    font-size: 2.5vmin;
    letter-spacing: -0.1vmin;
    font-weight: 400;
    // font-family: "Poppins";
    font-family: ITCAvantGardeStd;
    transition: color 400ms cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.7, 0, 0.84, 0);
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
